.pgcontainer{
display: flex;
flex-direction: column;
}




@media screen and (min-width: 415px){
    .pgcontainer {
      flex-direction: row;
    }
  }

  @media (max-width: 768px) {
    .pgcontainer img, .columns2 img {
        display: none;
    } 
    .columns2 {
        flex-direction: column;
        text-align: center;
    }

    .columns2 .col1 h2 {
        text-align: center;
    }

    
}