.tabcontainer {
    border: 1px solid lightgray;
    box-shadow: 1px;
    text-align: center;
    align-items: center;
}
.tabcontent {
    /* display: flex; */
    /* display: relative; */
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: max-content;
    transition: 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .tabcontent {
      /* flex-direction: column; */
      padding: 5px;
      
    }
  }