.coursegrid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr );
    justify-content: center;
}

.coursegrid div {
    background-image: url('../../assets/images/Quran.png');
    text-align: center;
    height: 30vh;

}

.coursebox {
    text-align: center;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.coursebox h1 {
    color: white;
}


@media (max-width: 768px) {
    .coursegrid {
        grid-template-columns: repeat(1, 1fr );
    }
}