table {
    width: 80%;
}
thead tr {
    
    text-transform: capitalize;
    height: 3.5rem;
    /* background-color: #021122; */
    background-color: #1c4943;
}

thead tr th {
    text-align: center;
    padding: 20px;
    color: white;
}

tbody {
    border: 1px solid lightgray;
}

tr td {
    text-align: left;
    padding: 10px 15px;
    height: 3rem;
    border: 1px solid lightgray;
} 

@media only screen and (max-width: 600px) {
    *{
        font-size: 10px;
    }
    tr td {
    padding: 5px
    
    }
}
